input, textarea{
    width: 100%;
    height: 50px;
    background: #394650;
    color: #C9C9C9;
    font-size: 13px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding: 0 20px;
}
button{
    width: 100%;
    height: 50px;
    background: #2562B3;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    outline: none;
    padding: 0;
    line-height: 50px;
    font-weight: bold;
    transition: all .3s ease;
}
button:hover{
        background: #fff;
    color: #186AAB;
}